.tableContainer {
  margin-top: 32px;
  width: fit-content;
}

table {
  background-color: white;
  padding: 0;
  border-spacing: 0 !important;
  border-collapse: collapse;
  width: fit-content;
  min-width: 500px;
}

tr,
th {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

tr {
  border: 1px solid rgba(230, 236, 239, 1);
}

th {
  padding: 8px 4px;
  text-align: start;
  background-color: rgba(10, 80, 139, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
}

td {
  border: 1px solid rgba(230, 236, 239, 1);
  padding: 8px 4px;
  margin: 0;
  color: rgba(134, 138, 141, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.copyButton {
  width: fit-content;
  padding: 5px 16.5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: rgba(17, 147, 255, 1);
  cursor: pointer;
}

.copyButton:hover {
  opacity: 0.8;
}

.copyButton:active {
  transform: translateY(2%);
}

.tableToolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin-bottom: 12px;
}

.deleteIcon {
  color: red;
}

.actionColumn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-inline: 42px;
}

.editAction {
  text-decoration-line: underline;
  color: #057ae3;
  cursor: pointer;
}

.deleteAction {
  text-decoration-line: underline;
  color: #b0263d;
  cursor: pointer;
}
