.appContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #e5e5e5;
}

.editModalContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 10;
  animation: blurout 0.5s;
}

/* .editModalContainer > div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

@keyframes blurout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
