body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 249, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select {
  border: 1px solid rgba(230, 236, 239, 1);
  border-radius: 4px;
  box-sizing: border-box;
  height: 42px;
  text-indent: 10px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

::placeholder {
  text-indent: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #868a8d;
}
